<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}(no title){% endblock %}</title>
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.css">
{#  <link href="/static/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" type="text/css" rel="stylesheet">#}
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.js"></script>
</head>
<body>
{% block content %}(no content){% endblock %}
{#<script src="/static/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>#}
{#<script src="/static/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.min.js" charset="UTF-8"></script>#}
{#<script src="/static/vanilla_option/js/vanilla_option.js"></script>#}
{% block javascript %}{% endblock %}
</body>
</html>