<form class="form-inline col-xs-12 panel-body-align" id="sm_forms">
    <div class="form-group input-group-sm input-group-align">
        <label class="label-style">姓名:</label>
        <input id="sms_name" type="text" class="input-style" name="sms_name">
    </div>

    <div class="input-group input-group-sm input-group-align">
        <label class="label-style">性别:</label>
        <input id="sms_sex" type="text" class="control-label label-input" name="sms_sex">
    </div>


    <div class="form-group input-group-sm input-group-align">
        <label class="label-style" >职业:</label>
        <input id="sms_type" type="text" class="control-label label-input" name="sms_type">
    </div>

    <div class="form-group button-group-interval">
        <button id="sms_query" class="button-style">查询</button>
    </div>

    <div class="form-group button-group-interval">
        <button id="sms_add" class="button-style">增加</button>
    </div>
</form>